<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "美食、酒器" %></title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "jquery.fullpage" %>
    <%= stylesheet_link_tag "site" %> 
    <%= javascript_include_tag "jquery-3.2.1.min" %>
    <%= javascript_include_tag "jquery.fullpage.min" %>   
    <%= javascript_include_tag "site" %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
