---
title: 美食、酒器
---
<div class="wrapper">
  <div id="fullpage">
    <%= partial 'first_page' %>
    <%= partial 'second_page' %>
    <%= partial 'third_page' %>
    <%= partial 'fourth_page' %>
    <%= partial 'fifth_page' %>
    <%= partial 'sixth_page' %>
  </div>
  <ul id="js-Menu" class="side-nav">
    <li data-menuanchor="firstPage" class="active">
      <a class="side-nav__item u-margin--top " href="#firstPage"><span>Top</span></a>
    </li>
      <li data-menuanchor="secondPage">
      <a class="side-nav__item" href="#secondPage"><span>About</span></a>
    </li>
      <li data-menuanchor="thirdPage">
      <a class="side-nav__item" href="#thirdPage"><span>News</span></a>
    </li>
      <li data-menuanchor="fourthPage">
      <a class="side-nav__item" href="#fourthPage"><span>Product</span></a>
    </li>
      <li data-menuanchor="fifthPage">
      <a class="side-nav__item" href="#fifthPage"><span>Lnquiry</span></a>
    </li>
      <li data-menuanchor="sixthPage">
      <a class="side-nav__item" href="#sixthPage"><span>Sitemap</span></a>
    </li>
      <li data-menuanchor="seventhPage">
      <a class="side-nav__item" href="#seventhPage"><span>Contact</span></a>
    </li>
    <div class="side-nav__social-bar">
      <div class="decoration1"></div>
      <div class="decoration2"></div>
      <a href="#" class="icon-btn">
	  	  <i class="icon icon-fb"></i>
	  	</a>
	  	<a href="#" class="icon-btn">
	  	  <i class="icon icon-ig"></i>
	  	</a>
	  	<a href="#" class="icon-btn">
	  	  <i class="icon icon-tw"></i>
	  	</a>
    </div>
  </ul>
  <footer class="footer">
    <div class="logo">
      <a href="#"></a>
    </div>
    <p class="content">未滿18歲禁止飲酒 喝酒不開車 安全有保障</p>
  </footer>   
</div>

<%= partial 'order-form' %>
<%= partial 'order-form-send-out' %>
<%= partial 'order-contact' %>
<%= partial 'order-contact-send-out' %>
<%= partial 'order-lnquiry-form' %>